
.woocommerce-product-rating {
    margin-bottom: 18px;
}

.star-rating {
    float: left;
    overflow: hidden;
    position: relative;
    height: 1.2em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}

.star-rating::before {
    content: "★★★★★";
    color: #d3ced2;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span::before {
    content: "★★★★★";
    top: 0;
    position: absolute;
    left: 0;
    color: #f7a600;
}