@use "../../base/imports" as *;

.l-product .summary {

	@media (min-width: $size-desktop) {
		width: 43%;
		padding-top: 36px;
	}

	.product_title {
		font-size: to-rem(18px);
		line-height: 1.18;
		margin-bottom: 24px;
		font-weight: 500;

		@media (min-width: $size-desktop) {
			font-size: to-rem(26px);
		}
	}

	.price {
		font-size: to-rem(22px);
		line-height: 1;
		margin: 0;

		ins {
			text-decoration: none;
		}

		del .amount {
			opacity: 0.4;
		}
	}

	form.cart,
	.woocommerce-variation-add-to-cart {
		display: flex;
		gap: 15px;
		width: 100%;

		& > div {
			width: 100%;
		}

		.quantity {
			display: flex;
			border: 1px solid #000;
			gap: 20px;

			input {
				border: 0;
				text-align: center;
				width: 80px;
			}

			button {
				background-color: transparent;
				border: 0;
				cursor: pointer;
			}
		}

		.m-button {
			display: block;
			width: 100%;
			min-height: 48px;
			padding: 16px;
			font-size: to-rem(14px);
			font-weight: 700;
			border: 0;
			border-radius: 4px;
			margin-top: 28px;
			text-transform: none;
		}
	}

	#wc-shipping-sim {
		border: 0;
		font-size: 1rem;
	}

	#wc-shipping-sim-form-title {
		margin: 0 2px 12px;
		text-transform: uppercase;
		font-size: 12px;

		strong {
			font-weight: 600;
		}
	}

	.woocommerce-product-details__short-description {
		font-size: 0.75rem;
		line-height: 1.5rem;
	}
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
	height: 22px;
	width: 22px;
	box-shadow: none;
}
