@use "../../base/imports" as *;

.l-product .summary {
	@media (min-width: $size-desktop) {
		width: 43%;
	}

	.product_title {
		font-size: to-rem(18px);
		line-height: 1.1;
		margin-bottom: 24px;
		font-weight: 400;
	}

	.price {
		font-size: to-rem(20px);
		line-height: 1;
		margin: 0;
		font-weight: 600;

		ins {
			text-decoration: none;
		}

		del .amount {
			opacity: 0.4;
		}
	}

	form.cart,
	.woocommerce-variation-add-to-cart {
		display: flex;
		gap: 15px;
		width: 100%;

		& > div {
			width: 100%;
		}

		.quantity {
			display: flex;
			border: 1px solid #000;
			gap: 20px;

			input {
				border: 0;
				text-align: center;
				width: 80px;
			}

			button {
				background-color: transparent;
				border: 0;
				cursor: pointer;
			}
		}

		.m-button {
			display: block;
			width: 100%;
			border-radius: 0;
			font-size: to-rem(12px);
			height: 48px;
			min-height: 48px;
			padding: 12px 16px;
			border: 0;
			letter-spacing: 0.1em;
		}
	}

	#wc-shipping-sim {
		border: 0;
		font-size: 1rem;
	}

	#wc-shipping-sim-form-title {
		margin: 0 2px 12px;
		text-transform: uppercase;
		font-size: 12px;

		strong {
			font-weight: 600;
		}
	}

	.woocommerce-product-details__short-description {
		font-size: 1rem;
		line-height: 1.5;
	}
}
