@use "../base/imports" as *;

.grid-icons {
	background-color: #0e0e0e;

	.grid-icons__list {
		list-style: none;
		display: flex;
		align-items: stretch;
		flex-direction: column;
		overflow: hidden;
		padding-top: 14px;
		padding-bottom: 15px;

		@media (min-width: $size-tablet) {
			display: grid;
			gap: 24px;
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $size-desktop) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.grid-icons__item {
		background: $black;
		gap: 16px;
		color: $white;
		padding: 8px 22px;
		border-bottom: 1px solid $white;
		display: flex;
		align-items: center;
		height: 80px;

		@media (min-width: $size-desktop) {
			align-items: center;
			justify-content: center;
			text-align: left;
			height: auto;
			border-bottom: 0;
			background: transparent;
		}

		svg {
			width: 34px;
			height: auto;
			fill: $white;

			@media (min-width: $size-desktop) {
				width: auto;
				height: 40px;
			}
		}

		.grid-icons__item__content {
			font-size: to-rem(13px);

			@media (min-width: $size-desktop) {
				font-size: to-rem(11px);
			}

			.title {
				display: block;
				margin-bottom: 2px;
				font-size: to-rem(13px);
				line-height: 1.2;
			}
		}
	}
}
