@use "../base/imports" as *;

.container {
	width: 100%;
	margin: 0 auto;
	padding-right: 5%;
	padding-left: 5%;

	@media (min-width: $size-desktop) {
		max-width: 1740px;
		padding-right: 30px;
		padding-left: 30px;
	}
}
