@use "../base/imports" as *;

.container {
	width: 100%;
	margin: 0 auto;
	padding-right: 5%;
	padding-left: 5%;

	@media (min-width: $size-desktop) {
		max-width: 1280px;
		// width: 90vw;
		padding-right: 24px;
		padding-left: 24px;
	}

	@media (min-width: $size-desktop-large) {
		max-width: 1280px;
	}
}
