@use "../base/imports" as *;

.m-footer {
	background: #dee6e8;
	color: #000;

	a {
		color: #000;
	}

	svg {
		fill: #000;
	}

	.m-footer__content {
		padding: 40px 0 28px;
		font-family: $font-secondary;
		line-height: 1.5;
		font-size: to-rem(13px);

		@media (min-width: $size-desktop) {
			padding: 55px 0 49px;
		}

		li {
			display: inline-flex;
			align-items: center;
			gap: 11px;
		}

		a {
			text-decoration: none;
			font-family: $font-secondary;
			font-weight: 400;
			transition: 0.15s ease;
			position: relative;

			&:hover {
				opacity: 1;
				// &:after {
				// 	opacity: 1;
				// }
				text-decoration: underline;
			}

			&::after {
				content: "";
				width: 100%;
				height: 1px;
				background: #000;
				display: block;
				opacity: 0;
				position: absolute;
			}
		}

		.logo-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			@media (min-width: $size-desktop) {
				align-items: flex-start;
			}

			.logo {
				width: auto;
				height: 91px;

				/* margin-bottom overridden by the shorthand below */
				margin: 0 0 21px;
				display: block;
				filter: invert(1);

				@media (min-width: $size-desktop) {
					margin: 0 0 28px;
				}
			}
		}

		svg {
			height: 18px;
			width: auto;
			opacity: 0.9;
		}

		.container {
			display: grid;
			gap: 38px;

			@media (min-width: $size-desktop) {
				grid-template-columns: repeat(5, 1fr);
				grid-template-columns: 1.1fr 1fr 1.3fr 1.5fr 1.5fr;
				// max-width: 100%;
			}
		}

		.title {
			display: block;
			font-family: $font-secondary;
			font-weight: 600;
			margin-bottom: 18px;
			letter-spacing: 0;
			font-size: to-rem(16px);
		}

		.m-footer__menu {
			display: grid;
			gap: 11px;

			.sub-menu {
				display: none;
			}

			.mail svg {
				width: 17px;
				margin: 0 2px;
			}
		}
	}

	.m-footer__social {
		display: flex;
		align-items: center;
		gap: 15px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			border-radius: 4px;
			transition: 0.5s;

			@media (max-width: $size-desktop) {
				height: 32px;
				width: 32px;
				background: #fff;
				border-radius: 100%;
			}

			&::after {
				content: none;
			}
		}
	}

	.m-footer-copyright {
		padding: 12px 0;
		font-size: to-rem(11px);
		line-height: 1;
		background: set-alpha($black, 0.1);
		font-family: $font-secondary;
		text-align: center;

		.container {
			position: relative;

			@media (min-width: $size-desktop) {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			& > span {
				opacity: 0.85;
				margin-left: 13px;
				position: relative;
			}
		}
	}

	.payments {
		.title {
			display: none;
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 14px;
			justify-content: center;
			align-items: center;

			@media (min-width: $size-desktop) {
				max-width: 220px;
				margin-bottom: 24px;
			}

			li {
				background: #ffff;
				border-radius: 3px;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			img {
				height: 19px;
				width: auto;
			}
		}
	}
}

.m-whatsapp {
	background: #128c7e;
	width: 58px;
	height: 58px;
	position: fixed;
	border-radius: 100%;
	text-decoration: none;
	bottom: 20px;
	right: 20px;
	z-index: 9999999;

	img {
		margin: 0 auto;
		top: 13px;
		display: block;
		position: relative;
		height: 31px;
		width: auto;
	}

	&:hover {
		filter: brightness(105%);
	}
}
