@use "../../base/imports" as *;

.m-button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	color: $white;
	background-color: $black;
	font-size: to-rem(14px);
	line-height: 1.2;
	padding: 1em 1.5em;
	border: 1px solid $black;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-family: $font-primary;

	&:hover {
		background-color: #6a6a6a;
		color: rgb(207, 207, 207);
		border-color: rgb(106, 106, 106);
	}

	&.--white {
		background-color: $white;
		color: $black;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}

	&.--blue {
		background-color: $blue;
		color: $white;

		&:hover {
			background-color: $black;
		}
	}

	&.--black {
		&:hover {
			background-color: $blue;
			color: $white;
		}
	}
}
