@use "../../base/imports" as *;

.woocommerce-breadcrumb {
	margin: 0 0 16px;
	display: flex;
	align-items: center;
	font-size: to-rem(10px);
	// text-transform: uppercase;
	gap: 4px;
	padding: 16px 0;
	color: set-alpha($black, 0.5);
	letter-spacing: 0.02em;

	a {
		color: currentColor;
		text-decoration: none;
		transition: 0.3s all;

		&:hover {
			color: black;
		}
	}

	span {
		font-size: 8px;
		margin: 0 3px;
	}
}
