@use "../../base/imports" as *;

.woocommerce-breadcrumb {
	margin: 0 0 16px;
	color: $black;
	height: 20px;
	display: flex;
	align-items: center;
	max-width: 1380px;
	font-size: to-rem(11px);
	gap: 4px;

	@media (min-width: $size-desktop-large) {
		max-width: 1680px;
	}

	a {
		color: $blue;
		text-decoration: none;

		&:first-of-type {
			font-weight: 600;
		}
	}
}
