.variations {
	margin-bottom: 28px;

	label {
		margin: 0 1px 5px !important;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}

	ul {
		display: flex;
		gap: 6px;
		margin-top: 9px;

		li {
			margin: 0;
			border-radius: 0 !important;
		}
	}

	th {
		margin-top: 14px;
	}

	.variable-item-span {
		font-size: to-rem(14px);
		line-height: 1;
	}

	[data-microtip-position]::before,
	[data-microtip-position]::after,
	[data-wvstooltip]::before,
	[data-wvstooltip]::after,
	[data-title]::before,
	[data-title]::after {
		display: none !important;
	}

	.woo-variation-swatches-tooltip,
	.tooltip,
	.wvs-tooltip {
		display: none !important;
	}
}

.reset_variations,
.woo-selected-variation-item-name {
	display: none!important;
}
