@use "../../base/imports" as *;

.variations {
	width: 100%;
	margin-top: 30px;

	label {
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}

	ul {
		gap: 4px;
		margin-top: 9px;

		li {
			margin: 0;
			border: 1px solid #000;
			border-radius: 4px !important;
		}
	}

	tbody {
		display: flex;
		flex-direction: column;
		gap: 27px;
	}

	th.label {
		display: none;
	}

	td.value {
		display: block;
		width: 100%;
	}

	select {
		width: 100%;
		height: 48px;
		font-size: 14px;
		padding: 12px 14px;
		color: #00202d;
	}
}

.woo-variation-swatches
	.variable-items-wrapper
	.variable-item:not(.radio-variable-item).color-variable-item.selected:not(.no-stock)
	.variable-item-contents:before,
.woo-variation-swatches
	.variable-items-wrapper
	.variable-item:not(.radio-variable-item).image-variable-item.selected:not(.no-stock)
	.variable-item-contents:before {
	display: none;
}

.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item).selected {
	outline: 1px solid #000;
	box-shadow: none !important;
}


.woo-variation-swatches.wvs-show-label .variations th .woo-selected-variation-item-name,
.variations label {
	font-size: to-rem(13px);
	font-weight: 600;
	margin: 0;
}

.woo-variation-swatches.wvs-show-label .variations th label {
	text-transform: none;
	font-weight: 400;
	margin: 0;
}

.woo-variation-swatches .variable-items-wrapper {
	padding: 8px 0 0;
}


.woo-variation-swatches .variable-items-wrapper .variable-item:not(.radio-variable-item) {
	box-shadow: none;
}

.woo-variation-swatches .wvs-style-rounded.variable-items-wrapper .variable-item:not(.radio-variable-item) .variable-item-span {
	border-radius: 0;
}

ul[data-attribute_name="attribute_pa_cor"] li,
.woo-variation-swatches ul[data-attribute_name="attribute_pa_cor"] .variable-item:not(.radio-variable-item) .variable-item-span {
	border-radius: 100% !important;
}
