@use "../../base/imports" as *;

.woocommerce-breadcrumb {
	margin: 0 0 16px;
	display: flex;
	align-items: center;
	font-size: to-rem(11px);
	gap: 4px;
	padding: 20px 0;
	color: set-alpha($black, 0.75);

	@media (min-width: $size-desktop) {
		padding: 37px 0 20px;
		font-size: to-rem(13px);
	}

	a {
		color: set-alpha($black, 0.75);
		text-decoration: none;

		&:hover {
			color: black;
		}
	}
}
