.variations {
	margin-bottom: 28px;

	label {
		margin: 0;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}

	ul {
		display: flex;
		gap: 6px;
		margin-top: 9px;

		li {
			margin: 0;
			border-radius: 0 !important;
		}
	}

	th {
		margin-top: 14px;
	}

	.variable-item-span {
		font-size: rem(14px);
		line-height: 1;
	}
}

.reset_variations {
	display: none;
}
