$font-primary: "Oxygen", sans-serif;
$font-primary: "IBM Plex Sans", sans-serif;
// $font-primary: "Sora", sans-serif;
// $font-primary: "Inter", sans-serif;

$font-secondary: "Sora", Serif;

body {
	font-family: "Manrope", sans-serif;
	font-family: "IBM Plex Sans", sans-serif;
	// font-family: "Inter", sans-serif;
	// font-family: "Sora", sans-serif;
	font-family: "Oxygen";
}
