// Base:
@import "./base/imports";
@import "plyr/src/sass/plyr";
@import "./modules/banners/banner-single";
@import "./modules/share";


.l-single {
	padding-bottom: 60px;
	font-size: rem(14px);
	line-height: 1.5;

	h1,
	h2,
	h3,
	h4,
	h5 {
		font-family: $font-secondary;
	}

	h1 {
		text-transform: uppercase;
		font-size: rem(48px);
		line-height: 1;
		font-family: $font-primary;
		text-align: center;
		margin: 50px auto 0;
		font-weight: 600;
	}

	h2,
	h3 {
		font-size: rem(18px);
		line-height: 1.5;
		margin: 2em 0 1em;
	}

	p {
		margin: 0 0 1em;
	}

	.container {
		max-width: 720px;
	}

	.l-page-wrapper {
		padding-top: 48px;
		font-family: $font-secondary;
		text-align: justify;
	}

	.m-single-banner {
		background: #033b4b;
	}

	.aligncenter {
		display: block;
		margin: 2em auto 3em;
		width: fit-content;

		.wp-element-caption {
			text-align: center;
			display: block;
			margin: 0;
		}
	}

	img {
		margin-bottom: 1em;
		margin-top: 2em;
	}

	.alignleft {
		float: left;
		margin-right: 3em;
	}

	.alignright {
		float: right;
		margin-left: 3em;
	}

}
