@use "./base/imports" as *;

@use "./modules/products/product-list";

@use "./modules/woocommerce/woocommerce-message";

@use "./modules/woocommerce/woocommerce-breadcrumb";

@use "./modules/woocommerce/woo-variation-swatches";

@use "./layouts/single-product/summary";
@use "./layouts/single-product/gallery";
@use "./layouts/single-product/tabs";
@use "./layouts/single-product/related";

.l-product {
	.l-product-wrapper {
		@media (min-width: $size-desktop) {
			display: flex;
			gap: 40px;
		}
	}
}

.quantity,
.product_meta {
	display: none !important;
}
