@use "./base/imports" as *;
@use "./modules/products/product-list";
@use "./modules/woocommerce/woocommerce-message";
@use "./modules/woocommerce/woocommerce-breadcrumb";
@use "./modules/woocommerce/woo-variation-swatches";
@use "./layouts/single-product/summary";
@use "./layouts/single-product/gallery";
@use "./layouts/single-product/reviews";

// @use "./layouts/single-product/tabs";

@use "./layouts/single-product/related";

.l-product {

	@media (min-width: $size-desktop) {

		@include header-padding;
	}

	.l-product-wrapper {

		@media (min-width: $size-desktop) {
			display: flex;
			gap: 40px;
			padding-top: 29px;
		}
	}

	&::after {
		content: "";
		display: block;
		background: #000;
		width: 100%;
		height: 65px;
		position: absolute;
		top: 0;
	}
}

.reset_variations,
.yith-wcwl-add-to-wishlist-button__label,
.quantity,
.product_meta, .onsale {
	display: none !important;
}

.wc-tabs,
.woocommerce-Tabs-panel--description,
.woocommerce-Tabs-panel--additional_information  {
	display: none;
}