@use "../../base/imports" as *;
@use "./card-product";

.m-products {
	width: 100%;
	padding-top: 46px;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;
	color: $black;

	@media (min-width: $size-desktop) {
		padding-top: 33px;
		padding-bottom: 30px;
	}

	&:last-of-type {
		padding-bottom: 54px;

		@media (min-width: $size-desktop) {
			padding-bottom: 71px;
		}
	}

	.swiper-button-next {
		right: 2px;

		@media (min-width: $size-desktop) {
			right: 13px;
			top: -43px;
		}
	}

	.swiper-button-prev {
		left: 2px;

		@media (min-width: $size-desktop) {
			left: 13px;
			top: -43px;
		}
	}

	.swiper-button-disabled {
		opacity: 0.4;
		cursor: default;
	}

	.swiper {
		overflow: visible;

		@media (min-width: $size-desktop) {
			overflow: hidden;
		}
	}

	.swipper-wrapper {
		height: auto !important;
	}

	&.--dark {
		color: $white;
		background: $black;

		.m-card__price-value {
			color: white;
		}

		.m-products-header,
		.m-card-product {
			a {
				color: set-alpha($white, 0.9);
			}
		}

		.m-products-link {
			border: 1px solid #fff;
			&:hover {
				opacity: 1;
			}
		}
	}

	& > .container {
		position: relative;
	}

	.m-products-header {
		margin-bottom: 24px;

		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (min-width: $size-desktop) {
			margin-bottom: 27px;
		}

		h2 {
			margin-bottom: 0;
			font-size: to-rem(20px);
			line-height: 1;
			font-weight: 500;
			font-family: $font-secondary;
		}

		a {
			font-size: to-rem(11px);
			text-transform: uppercase;
			color: $black;
			font-weight: 600;
			text-decoration: none;
			letter-spacing: 0.1em;

			@media (min-width: $size-desktop) {
				font-size: to-rem(12px);
			}
		}
	}

	.m-products-list {
		@include reset-ul;
		display: grid;
		row-gap: 22px;
		column-gap: 14px;
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: $size-desktop) {
			row-gap: 24px;
			column-gap: 24px;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.m-products-link {
		display: block;
		width: 150px;
	}
}
